<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3a56c9fe8b.js" crossorigin="anonymous"></script>
</head>
<body class="index">
    <header class="index__header">
        <div class="index__header--box-img">
            <a href="#"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
        </div>
        <form class="index__header--form" action="#" method="post" target="_blank">
            <input type="search" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="burger-menu">
            <button onclick="document.querySelector('.index__header__nav').classList.toggle('showMenu')">
                <i class="fas fa-bars"></i>
            </button> 
        </div>
        <nav class="index__header__nav">
        <ul class="index__header__nav--menu">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="index__header__nav--usuario">
            <li><a href="/register">Creá tu cuenta </a><i class="fa-regular fa-address-card"></i></li>
            <li><a href="/login">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        </nav>
    </header>
    <main class="index__login">
        <div class="index__login__box">
            <h2>Iniciar sesión</h2>
            <form class="index__login__box--form">
                <div>
                    <input class="index__login__box--form-inputs" type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Ingresa su usuario...">
                </div>
                <div>
                    <input class="index__login__box--form-inputs" type="password" name="contraseña" id="contraseña" placeholder="Ingresa tu contraseña...">
                </div>
                <a href="/"><button type="button">Enviar</button></a>
            </form>
    </main>
    <footer class="index__footer">
        <section class="index__footer--servicios">
            <i class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="index__footer--servicios">
            <i class="fa-sharp fa-solid fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="index__footer--servicios">
            <i class="fa-solid fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
        <p class="index__footer--copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>