.index__header{
    background-color: var(--colorAmarillo);
    padding: 5px;
}
.index__header img{
    width: 130px;
}
.index__header p{
    text-align: center;
}
.index__header__nav{
    display: none;
}
.burger-menu{
    margin: 25px 0 20px;
    text-align: center;
}
.fa-bars{
    color: var(--colorGrisClaro);
    background-color: var(--colorCeleste);
    padding: 8px;
    border-radius: 3px;
    font-size: 20px;
}
/* MEDIA QUERYS */
@media (min-width: 361px){
    .burger-menu{
        display: none;
    }
    .index__header__nav{
        display: block;
    }
}